body {
    background: linear-gradient(to right, #ff6f00, #f44336); /* Gradient from Orange to Red */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #ff6f00; /* Orange */
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6f00; /* Orange */
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #ff7f00; /* Darker Orange */
}
